.business_list {
    &__title {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width:768px) {
    .business_list {
        width: 80vw;
    }
}